.video-item-playback {
  align-items: center;
  cursor: pointer;
  border-bottom: 2px #333 solid;
}

.video-item-playback-image {
  height: 100%;
  width: 60%;
  float: left;
}

.video-item-playback-title {
  word-wrap: break-word;
  width: 43%;
  float: right;
  margin-top: 5%;
}
