.video-item-playback {
  align-items: center;
  cursor: pointer;
}

.video-item-playback-image {
  height: 100%;
  width: 60%;
  float: left;
}

.video-item-playback-title {
  word-wrap: break-word;
  width: 35%;
  float: right;
}
