.home-container {
  display: flex;
  flex-direction: column;
}

.home-movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-search {
  position: absolute;
  background-color: transparent;
  border: 2px solid #373b69;
  border-radius: 50px;
  color: white;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  right: 0;
}

.home-search:focus {
  outline: 0;
}

.home-banner {
  width: 100vw;
  height: 50vh;
}

.home-banner img {
/* object-fit: cover;*/
  width: 100%;
  height: 45vh;

}

.home-video-list {
   padding-top:2rem;
}

.home-divider {
  display: flex;
  align-items: center;
  color:#333333;
  --text-divider-gap: 1rem; 
}

.home-divider::before,
.home-divider::after {
  content: '';
  height: 1px;
  background-color: #222222;
  flex-grow: 20;
  margin-left: var(--text-divider-gap);
  margin-right: var(--text-divider-gap);
}


.home-divider::before{
flex-grow: 1;

}
