header {
  background-color: #191d42;
  display: flex;
  padding-top: 0.5rem;
  padding-left: 0.5em;
/*position:relative;*/
  justify-content: flex-start;
}

.top-nav-container {
  display: flex;
  justify-content: center;
}

.top-nav-option {
  background-color: 1f2b5c;
  /*border: 2px solid lightblue;*/
  padding: 5px;
  width: 100px;
  border-radius: 10px 10px 0px 0px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  text-align: center;
}

.current {
  background-color: #3f335c;
}
nav {
  display: flex;
}
